# Mac OS X files
.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Dependency directories (remove the comment below to include it)
vendor/

.env

# Java specific
*.class
*.jar
*.war
*.ear
*.log
*.log.*
*.iml
*.ipr
*.iws
.idea/
.gradle/
build/
out/
target/
bin/

# Spring Boot specific
application-*.properties
!application.properties
!application.yml
spring-boot-devtools.properties

# Maven
.mvn/
mvnw
mvnw.cmd
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Gradle
.gradle/
gradle/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!gradlew
!gradlew.bat
